# Neon DB Connection String (Replace username, password, host, and database name with your own project credentials from the Neon dashboard)
DATABASE_URL="postgresql://postgres:yourpassword@ep-cool-snowflake-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

PORT=5000
