# Neon DB Connection String (Replace username, password, host, and database name with your own project credentials from the Neon dashboard)
DATABASE_URL="postgresql://neondb_owner:npg_ga8REQj6NrZF@ep-shy-mode-ats3cegu.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

PORT=5000
